In [57]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split
from sklearn.model_selection import KFold
from sklearn.decomposition import PCA
from sklearn import linear_model
from sklearn import neighbors
from sklearn import tree
from sklearn import ensemble
from sklearn import svm
from sklearn import neural_network
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import cross_val_predict
from sklearn.model_selection import KFold
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import PolynomialFeatures
from sklearn.model_selection import GridSearchCV
from sklearn.ensemble import RandomForestClassifier
import tensorflow as tf
from tensorflow import keras
import gc

import xgboost as xgb

SEED = 42

In [3]:
data = pd.read_csv("WA_Fn-UseC_-Telco-Customer-Churn.csv")
data.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7043 non-null   object
 1   gender            7043 non-null   object
 2   SeniorCitizen     7043 non-null   int64
 3   Partner           7043 non-null   object
 4   Dependents        7043 non-null   object
 5   tenure            7043 non-null   int64
 6   PhoneService      7043 non-null   object
 7   MultipleLines     7043 non-null   object
 8   InternetService   7043 non-null   object
 9   OnlineSecurity    7043 non-null   object
 10  OnlineBackup      7043 non-null   object
 11  DeviceProtection  7043 non-null   object
 12  TechSupport       7043 non-null   object
 13  StreamingTV       7043 non-null   object
 14  StreamingMovies   7043 non-null   object
 15  Contract          7043 non-null   object
 16  PaperlessBilling  7043 non-null   object
 17  PaymentMethod     7043 non-null   object
 18  MonthlyCharges    7043 non-null   float64
 19  TotalCharges      7043 non-null   object
 20  Churn             7043 non-null   object
dtypes: float64(1), int64(2), object(18)
memory usage: 1.1+ MB

In [5]:
data.isnull().values.any()

False

In [6]:
data.isna().values.any()

False

In [7]:
cat_df = data.select_dtypes(include="object")
cat_df.head()

,customerID,gender,Partner,Dependents,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,TotalCharges,Churn
0,7590-VHVEG,Female,Yes,No,No,No phone service,DSL,No,Yes,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,No
1,5575-GNVDE,Male,No,No,Yes,No,DSL,Yes,No,Yes,No,No,No,One year,No,Mailed check,1889.5,No
2,3668-QPYBK,Male,No,No,Yes,No,DSL,Yes,Yes,No,No,No,No,Month-to-month,Yes,Mailed check,108.15,Yes
3,7795-CFOCW,Male,No,No,No,No phone service,DSL,Yes,No,Yes,Yes,No,No,One year,No,Bank transfer (automatic),1840.75,No
4,9237-HQITU,Female,No,No,Yes,No,Fiber optic,No,No,No,No,No,No,Month-to-month,Yes,Electronic check,151.65,Yes

In [8]:
cat_df.Contract.value_counts()

Month-to-month    3875
Two year          1695
One year          1473
Name: Contract, dtype: int64

In [9]:
df = data.copy()

In [10]:
df.TotalCharges = pd.to_numeric(df.TotalCharges, errors='coerce')

In [11]:
df.TotalCharges.isnull().value_counts()

False    7032
True       11
Name: TotalCharges, dtype: int64

In [12]:
df.dropna(inplace=True)

In [13]:
df.TotalCharges.isnull().value_counts()

False    7032
Name: TotalCharges, dtype: int64

In [14]:
cat_df = df.select_dtypes(include="object")
cat_df.head()

,customerID,gender,Partner,Dependents,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,Churn
0,7590-VHVEG,Female,Yes,No,No,No phone service,DSL,No,Yes,No,No,No,No,Month-to-month,Yes,Electronic check,No
1,5575-GNVDE,Male,No,No,Yes,No,DSL,Yes,No,Yes,No,No,No,One year,No,Mailed check,No
2,3668-QPYBK,Male,No,No,Yes,No,DSL,Yes,Yes,No,No,No,No,Month-to-month,Yes,Mailed check,Yes
3,7795-CFOCW,Male,No,No,No,No phone service,DSL,Yes,No,Yes,Yes,No,No,One year,No,Bank transfer (automatic),No
4,9237-HQITU,Female,No,No,Yes,No,Fiber optic,No,No,No,No,No,No,Month-to-month,Yes,Electronic check,Yes

In [15]:
num_df = df.select_dtypes(include=["float64","int64"])
num_df.head()

   SeniorCitizen  tenure  MonthlyCharges  TotalCharges
0              0       1           29.85         29.85
1              0      34           56.95       1889.50
2              0       2           53.85        108.15
3              0      45           42.30       1840.75
4              0       2           70.70        151.65

In [16]:
df.drop(columns="customerID", inplace=True)
df.head()

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,Female,0,Yes,No,1,No,No phone service,DSL,No,Yes,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,Male,0,No,No,34,Yes,No,DSL,Yes,No,Yes,No,No,No,One year,No,Mailed check,56.95,1889.50,No
2,Male,0,No,No,2,Yes,No,DSL,Yes,Yes,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,Male,0,No,No,45,No,No phone service,DSL,Yes,No,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,Female,0,No,No,2,Yes,No,Fiber optic,No,No,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

In [17]:
df.PaymentMethod.value_counts()

Electronic check             2365
Mailed check                 1604
Bank transfer (automatic)    1542
Credit card (automatic)      1521
Name: PaymentMethod, dtype: int64

In [18]:
for column in df:
    if df[column].dtypes=='object':
        print(f'{column}: {df[column].unique()}')

gender: ['Female' 'Male']
Partner: ['Yes' 'No']
Dependents: ['No' 'Yes']
PhoneService: ['No' 'Yes']
MultipleLines: ['No phone service' 'No' 'Yes']
InternetService: ['DSL' 'Fiber optic' 'No']
OnlineSecurity: ['No' 'Yes' 'No internet service']
OnlineBackup: ['Yes' 'No' 'No internet service']
DeviceProtection: ['No' 'Yes' 'No internet service']
TechSupport: ['No' 'Yes' 'No internet service']
StreamingTV: ['No' 'Yes' 'No internet service']
StreamingMovies: ['No' 'Yes' 'No internet service']
Contract: ['Month-to-month' 'One year' 'Two year']
PaperlessBilling: ['Yes' 'No']
PaymentMethod: ['Electronic check' 'Mailed check' 'Bank transfer (automatic)'
 'Credit card (automatic)']
Churn: ['No' 'Yes']

In [19]:
df.replace('No internet service', 'No', inplace=True)
df.replace('No phone service', 'No', inplace=True)

In [20]:
df.gender.dtype

dtype('O')

In [21]:
for i in df.columns:
    if df[i].value_counts().shape[0] == 2 and df[i].dtype == 'O':
        df[i].replace({'Yes':1, 'No': 0}, inplace = True)

In [22]:
df.head()

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,Female,0,1,0,1,0,0,DSL,0,1,0,0,0,0,Month-to-month,1,Electronic check,29.85,29.85,0
1,Male,0,0,0,34,1,0,DSL,1,0,1,0,0,0,One year,0,Mailed check,56.95,1889.50,0
2,Male,0,0,0,2,1,0,DSL,1,1,0,0,0,0,Month-to-month,1,Mailed check,53.85,108.15,1
3,Male,0,0,0,45,0,0,DSL,1,0,1,1,0,0,One year,0,Bank transfer (automatic),42.30,1840.75,0
4,Female,0,0,0,2,1,0,Fiber optic,0,0,0,0,0,0,Month-to-month,1,Electronic check,70.70,151.65,1

In [23]:
df["gender"].replace({"Female": 1, "Male": 0}, inplace=True)

In [24]:
for column in df:
    if df[column].dtypes=='object':
        print(f'{column}: {df[column].unique()}')

InternetService: ['DSL' 'Fiber optic' 'No']
Contract: ['Month-to-month' 'One year' 'Two year']
PaymentMethod: ['Electronic check' 'Mailed check' 'Bank transfer (automatic)'
 'Credit card (automatic)']

In [25]:
df = pd.get_dummies(data = df, columns=['InternetService', "Contract", "PaymentMethod"])

In [26]:
df.head()

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,OnlineSecurity,OnlineBackup,DeviceProtection,...,InternetService_DSL,InternetService_Fiber optic,InternetService_No,Contract_Month-to-month,Contract_One year,Contract_Two year,PaymentMethod_Bank transfer (automatic),PaymentMethod_Credit card (automatic),PaymentMethod_Electronic check,PaymentMethod_Mailed check
0,1,0,1,0,1,0,0,0,1,0,...,1,0,0,1,0,0,0,0,1,0
1,0,0,0,0,34,1,0,1,0,1,...,1,0,0,0,1,0,0,0,0,1
2,0,0,0,0,2,1,0,1,1,0,...,1,0,0,1,0,0,0,0,0,1
3,0,0,0,0,45,0,0,1,0,1,...,1,0,0,0,1,0,1,0,0,0
4,1,0,0,0,2,1,0,0,0,0,...,0,1,0,1,0,0,0,0,1,0

In [27]:
df.dtypes

gender                                       int64
SeniorCitizen                                int64
Partner                                      int64
Dependents                                   int64
tenure                                       int64
PhoneService                                 int64
MultipleLines                                int64
OnlineSecurity                               int64
OnlineBackup                                 int64
DeviceProtection                             int64
TechSupport                                  int64
StreamingTV                                  int64
StreamingMovies                              int64
PaperlessBilling                             int64
MonthlyCharges                             float64
TotalCharges                               float64
Churn                                        int64
InternetService_DSL                          uint8
InternetService_Fiber optic                  uint8
InternetService_No                           uint8
Contract_Month-to-month                      uint8
Contract_One year                            uint8
Contract_Two year                            uint8
PaymentMethod_Bank transfer (automatic)      uint8
PaymentMethod_Credit card (automatic)        uint8
PaymentMethod_Electronic check               uint8
PaymentMethod_Mailed check                   uint8
dtype: object

In [28]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
gender,7032.0,0.495307,0.500014,0.00,0.0000,0.000,1.0000,1.00
SeniorCitizen,7032.0,0.162400,0.368844,0.00,0.0000,0.000,0.0000,1.00
Partner,7032.0,0.482509,0.499729,0.00,0.0000,0.000,1.0000,1.00
Dependents,7032.0,0.298493,0.457629,0.00,0.0000,0.000,1.0000,1.00
tenure,7032.0,32.421786,24.545260,1.00,9.0000,29.000,55.0000,72.00
PhoneService,7032.0,0.903299,0.295571,0.00,1.0000,1.000,1.0000,1.00
MultipleLines,7032.0,0.421928,0.493902,0.00,0.0000,0.000,1.0000,1.00
OnlineSecurity,7032.0,0.286547,0.452180,0.00,0.0000,0.000,1.0000,1.00
OnlineBackup,7032.0,0.344852,0.475354,0.00,0.0000,0.000,1.0000,1.00
DeviceProtection,7032.0,0.343857,0.475028,0.00,0.0000,0.000,1.0000,1.00
TechSupport,7032.0,0.290102,0.453842,0.00,0.0000,0.000,1.0000,1.00
StreamingTV,7032.0,0.384386,0.486484,0.00,0.0000,0.000,1.0000,1.00
StreamingMovies,7032.0,0.388367,0.487414,0.00,0.0000,0.000,1.0000,1.00
PaperlessBilling,7032.0,0.592719,0.491363,0.00,0.0000,1.000,1.0000,1.00
MonthlyCharges,7032.0,64.798208,30.085974,18.25,35.5875,70.350,89.8625,118.75
TotalCharges,7032.0,2283.300441,2266.771362,18.80,401.4500,1397.475,3794.7375,8684.80
Churn,7032.0,0.265785,0.441782,0.00,0.0000,0.000,1.0000,1.00
InternetService_DSL,7032.0,0.343572,0.474934,0.00,0.0000,0.000,1.0000,1.00
InternetService_Fiber optic,7032.0,0.440273,0.496455,0.00,0.0000,0.000,1.0000,1.00
InternetService_No,7032.0,0.216155,0.411650,0.00,0.0000,0.000,0.0000,1.00
Contract_Month-to-month,7032.0,0.551052,0.497422,0.00,0.0000,1.000,1.0000,1.00
Contract_One year,7032.0,0.209329,0.406858,0.00,0.0000,0.000,0.0000,1.00
Contract_Two year,7032.0,0.239619,0.426881,0.00,0.0000,0.000,0.0000,1.00
PaymentMethod_Bank transfer (automatic),7032.0,0.219283,0.413790,0.00,0.0000,0.000,0.0000,1.00
PaymentMethod_Credit card (automatic),7032.0,0.216297,0.411748,0.00,0.0000,0.000,0.0000,1.00
PaymentMethod_Electronic check,7032.0,0.336320,0.472483,0.00,0.0000,0.000,1.0000,1.00
PaymentMethod_Mailed check,7032.0,0.228100,0.419637,0.00,0.0000,0.000,0.0000,1.00

In [29]:
df.head()

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,OnlineSecurity,OnlineBackup,DeviceProtection,...,InternetService_DSL,InternetService_Fiber optic,InternetService_No,Contract_Month-to-month,Contract_One year,Contract_Two year,PaymentMethod_Bank transfer (automatic),PaymentMethod_Credit card (automatic),PaymentMethod_Electronic check,PaymentMethod_Mailed check
0,1,0,1,0,1,0,0,0,1,0,...,1,0,0,1,0,0,0,0,1,0
1,0,0,0,0,34,1,0,1,0,1,...,1,0,0,0,1,0,0,0,0,1
2,0,0,0,0,2,1,0,1,1,0,...,1,0,0,1,0,0,0,0,0,1
3,0,0,0,0,45,0,0,1,0,1,...,1,0,0,0,1,0,1,0,0,0
4,1,0,0,0,2,1,0,0,0,0,...,0,1,0,1,0,0,0,0,1,0

In [30]:
df_minmax_scaled = df.copy()

In [31]:
scale_cols = ["tenure", "MonthlyCharges", "TotalCharges"]

scaler = MinMaxScaler()

df_minmax_scaled[scale_cols] = scaler.fit_transform(df_minmax_scaled[scale_cols])

In [32]:
for col in df_minmax_scaled.columns:
    print(f'{col}: {df_minmax_scaled[col].unique()}')

gender: [1 0]
SeniorCitizen: [0 1]
Partner: [1 0]
Dependents: [0 1]
tenure: [0.         0.46478873 0.01408451 0.61971831 0.09859155 0.29577465
 0.12676056 0.38028169 0.85915493 0.16901408 0.21126761 0.8028169
 0.67605634 0.33802817 0.95774648 0.71830986 0.98591549 0.28169014
 0.15492958 0.4084507  0.64788732 1.         0.22535211 0.36619718
 0.05633803 0.63380282 0.14084507 0.97183099 0.87323944 0.5915493
 0.1971831  0.83098592 0.23943662 0.91549296 0.11267606 0.02816901
 0.42253521 0.69014085 0.88732394 0.77464789 0.08450704 0.57746479
 0.47887324 0.66197183 0.3943662  0.90140845 0.52112676 0.94366197
 0.43661972 0.76056338 0.50704225 0.49295775 0.56338028 0.07042254
 0.04225352 0.45070423 0.92957746 0.30985915 0.78873239 0.84507042
 0.18309859 0.26760563 0.73239437 0.54929577 0.81690141 0.32394366
 0.6056338  0.25352113 0.74647887 0.70422535 0.35211268 0.53521127]
PhoneService: [0 1]
MultipleLines: [0 1]
OnlineSecurity: [0 1]
OnlineBackup: [1 0]
DeviceProtection: [0 1]
TechSupport: [0 1]
StreamingTV: [0 1]
StreamingMovies: [0 1]
PaperlessBilling: [1 0]
MonthlyCharges: [0.11542289 0.38507463 0.35422886 ... 0.44626866 0.25820896 0.60149254]
TotalCharges: [0.0012751  0.21586661 0.01031041 ... 0.03780868 0.03321025 0.78764136]
Churn: [0 1]
InternetService_DSL: [1 0]
InternetService_Fiber optic: [0 1]
InternetService_No: [0 1]
Contract_Month-to-month: [1 0]
Contract_One year: [0 1]
Contract_Two year: [0 1]
PaymentMethod_Bank transfer (automatic): [0 1]
PaymentMethod_Credit card (automatic): [0 1]
PaymentMethod_Electronic check: [1 0]
PaymentMethod_Mailed check: [0 1]

In [33]:
X = df_minmax_scaled.drop(columns='Churn')
y = df_minmax_scaled["Churn"]

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = SEED)

In [34]:
X_train.shape

(5625, 26)

In [35]:
X_test.shape

(1407, 26)

In [55]:
clf_xgb = xgb.XGBClassifier(
    n_estimators=1000,
    learning_rate= 0.1,
    subsample=0.8,
    colsample_bytree=0.2,
    random_state = SEED
)
clf_xgb.fit(X_train, y_train)
accuracy_xgb = clf_xgb.score(X_test, y_test)
print(accuracy_xgb)

0.7711442786069652

In [56]:
clf_rf = RandomForestClassifier(
    n_estimators=100,
    max_depth=20,
    random_state=SEED
)
clf_rf.fit(X_train, y_train)
accuracy_rf = clf_rf.score(X_test, y_test)
print(accuracy_rf)

0.7796730632551528

In [60]:
clf_nn = keras.Sequential([
    # input layer
    keras.layers.Dense(26, input_shape=(26,), activation='relu'),
    keras.layers.Dense(15, activation='relu'),
    keras.layers.Dense(10,activation = 'relu'),
    # we use sigmoid for binary output
    # output layer
    keras.layers.Dense(1, activation='sigmoid')
]
)

In [61]:
# time for compilation of neural net.
clf_nn.compile(optimizer = 'adam',
             loss = 'binary_crossentropy',
             metrics = ['accuracy'])
# now we fit our model to training data
clf_nn.fit(X_train, y_train, epochs=100)

Epoch 1/100
176/176 [==============================] - 1s 2ms/step - loss: 0.5133 - accuracy: 0.7518
Epoch 2/100
176/176 [==============================] - 0s 2ms/step - loss: 0.4291 - accuracy: 0.7932
Epoch 3/100
176/176 [==============================] - 0s 2ms/step - loss: 0.4192 - accuracy: 0.8041
Epoch 4/100
176/176 [==============================] - 0s 2ms/step - loss: 0.4146 - accuracy: 0.8043
Epoch 5/100
176/176 [==============================] - 0s 2ms/step - loss: 0.4109 - accuracy: 0.8080
Epoch 6/100
176/176 [==============================] - 0s 2ms/step - loss: 0.4105 - accuracy: 0.8098
Epoch 7/100
176/176 [==============================] - 0s 1ms/step - loss: 0.4070 - accuracy: 0.8126
Epoch 8/100
176/176 [==============================] - 0s 1ms/step - loss: 0.4063 - accuracy: 0.8128
Epoch 9/100
176/176 [==============================] - 0s 1ms/step - loss: 0.4041 - accuracy: 0.8135
Epoch 10/100
176/176 [==============================] - 0s 2ms/step - loss: 0.4034 - accuracy: 0.8130
Epoch 11/100
176/176 [==============================] - 0s 2ms/step - loss: 0.4016 - accuracy: 0.8140
Epoch 12/100
176/176 [==============================] - 0s 2ms/step - loss: 0.3995 - accuracy: 0.8169
Epoch 13/100
176/176 [==============================] - 0s 2ms/step - loss: 0.3980 - accuracy: 0.8149
Epoch 14/100
176/176 [==============================] - 0s 1ms/step - loss: 0.3971 - accuracy: 0.8135
Epoch 15/100
176/176 [==============================] - 0s 1ms/step - loss: 0.3968 - accuracy: 0.8144
Epoch 16/100
176/176 [==============================] - 0s 2ms/step - loss: 0.3956 - accuracy: 0.8119
Epoch 17/100
176/176 [==============================] - 0s 2ms/step - loss: 0.3937 - accuracy: 0.8149
Epoch 18/100
176/176 [==============================] - 0s 1ms/step - loss: 0.3927 - accuracy: 0.8140
Epoch 19/100
176/176 [==============================] - 0s 2ms/step - loss: 0.3930 - accuracy: 0.8132
Epoch 20/100
176/176 [==============================] - 0s 2ms/step - loss: 0.3914 - accuracy: 0.8172
Epoch 21/100
176/176 [==============================] - 0s 2ms/step - loss: 0.3896 - accuracy: 0.8188
Epoch 22/100
176/176 [==============================] - 0s 2ms/step - loss: 0.3877 - accuracy: 0.8203
Epoch 23/100
176/176 [==============================] - 0s 1ms/step - loss: 0.3874 - accuracy: 0.8178
Epoch 24/100
176/176 [==============================] - 0s 2ms/step - loss: 0.3865 - accuracy: 0.8196
Epoch 25/100
176/176 [==============================] - 0s 2ms/step - loss: 0.3868 - accuracy: 0.8174
Epoch 26/100
176/176 [==============================] - 0s 1ms/step - loss: 0.3848 - accuracy: 0.8222
Epoch 27/100
176/176 [==============================] - 0s 2ms/step - loss: 0.3840 - accuracy: 0.8203
Epoch 28/100
176/176 [==============================] - 0s 2ms/step - loss: 0.3831 - accuracy: 0.8197
Epoch 29/100
176/176 [==============================] - 0s 2ms/step - loss: 0.3818 - accuracy: 0.8217
Epoch 30/100
176/176 [==============================] - 0s 2ms/step - loss: 0.3814 - accuracy: 0.8204
Epoch 31/100
176/176 [==============================] - 0s 2ms/step - loss: 0.3801 - accuracy: 0.8229
Epoch 32/100
176/176 [==============================] - 0s 2ms/step - loss: 0.3788 - accuracy: 0.8244
Epoch 33/100
176/176 [==============================] - 0s 1ms/step - loss: 0.3786 - accuracy: 0.8188
Epoch 34/100
176/176 [==============================] - 0s 2ms/step - loss: 0.3782 - accuracy: 0.8206
Epoch 35/100
176/176 [==============================] - 0s 1ms/step - loss: 0.3768 - accuracy: 0.8204
Epoch 36/100
176/176 [==============================] - 0s 2ms/step - loss: 0.3758 - accuracy: 0.8219
Epoch 37/100
176/176 [==============================] - 0s 1ms/step - loss: 0.3739 - accuracy: 0.8226
Epoch 38/100
176/176 [==============================] - 0s 2ms/step - loss: 0.3751 - accuracy: 0.8245
Epoch 39/100
176/176 [==============================] - 0s 1ms/step - loss: 0.3740 - accuracy: 0.8258
Epoch 40/100
176/176 [==============================] - 0s 2ms/step - loss: 0.3717 - accuracy: 0.8283
Epoch 41/100
176/176 [==============================] - 0s 1ms/step - loss: 0.3702 - accuracy: 0.8240
Epoch 42/100
176/176 [==============================] - 0s 1ms/step - loss: 0.3700 - accuracy: 0.8270
Epoch 43/100
176/176 [==============================] - 0s 2ms/step - loss: 0.3683 - accuracy: 0.8293
Epoch 44/100
176/176 [==============================] - 0s 1ms/step - loss: 0.3678 - accuracy: 0.8290
Epoch 45/100
176/176 [==============================] - 0s 1ms/step - loss: 0.3661 - accuracy: 0.8279
Epoch 46/100
176/176 [==============================] - 0s 1ms/step - loss: 0.3674 - accuracy: 0.8249
Epoch 47/100
176/176 [==============================] - 0s 2ms/step - loss: 0.3642 - accuracy: 0.8306
Epoch 48/100
176/176 [==============================] - 0s 1ms/step - loss: 0.3629 - accuracy: 0.8295
Epoch 49/100
176/176 [==============================] - 0s 1ms/step - loss: 0.3626 - accuracy: 0.8293
Epoch 50/100
176/176 [==============================] - 0s 1ms/step - loss: 0.3618 - accuracy: 0.8302
Epoch 51/100
176/176 [==============================] - 0s 2ms/step - loss: 0.3608 - accuracy: 0.8274
Epoch 52/100
176/176 [==============================] - 0s 2ms/step - loss: 0.3598 - accuracy: 0.8318
Epoch 53/100
176/176 [==============================] - 0s 2ms/step - loss: 0.3584 - accuracy: 0.8311
Epoch 54/100
176/176 [==============================] - 0s 2ms/step - loss: 0.3576 - accuracy: 0.8311
Epoch 55/100
176/176 [==============================] - 0s 2ms/step - loss: 0.3564 - accuracy: 0.8297
Epoch 56/100
176/176 [==============================] - 0s 1ms/step - loss: 0.3570 - accuracy: 0.8324
Epoch 57/100
176/176 [==============================] - 0s 2ms/step - loss: 0.3543 - accuracy: 0.8338
Epoch 58/100
176/176 [==============================] - 0s 2ms/step - loss: 0.3517 - accuracy: 0.8324
Epoch 59/100
176/176 [==============================] - 0s 1ms/step - loss: 0.3540 - accuracy: 0.8338
Epoch 60/100
176/176 [==============================] - 0s 1ms/step - loss: 0.3520 - accuracy: 0.8331
Epoch 61/100
176/176 [==============================] - 0s 2ms/step - loss: 0.3510 - accuracy: 0.8345
Epoch 62/100
176/176 [==============================] - 0s 2ms/step - loss: 0.3497 - accuracy: 0.8356
Epoch 63/100
176/176 [==============================] - 0s 2ms/step - loss: 0.3493 - accuracy: 0.8350
Epoch 64/100
176/176 [==============================] - 0s 1ms/step - loss: 0.3482 - accuracy: 0.8375
Epoch 65/100
176/176 [==============================] - 0s 2ms/step - loss: 0.3486 - accuracy: 0.8377
Epoch 66/100
176/176 [==============================] - 0s 2ms/step - loss: 0.3461 - accuracy: 0.8386
Epoch 67/100
176/176 [==============================] - 0s 2ms/step - loss: 0.3449 - accuracy: 0.8368
Epoch 68/100
176/176 [==============================] - 0s 2ms/step - loss: 0.3441 - accuracy: 0.8359
Epoch 69/100
176/176 [==============================] - 0s 2ms/step - loss: 0.3443 - accuracy: 0.8373
Epoch 70/100
176/176 [==============================] - 0s 2ms/step - loss: 0.3415 - accuracy: 0.8373
Epoch 71/100
176/176 [==============================] - 0s 2ms/step - loss: 0.3418 - accuracy: 0.8418
Epoch 72/100
176/176 [==============================] - 0s 2ms/step - loss: 0.3425 - accuracy: 0.8398
Epoch 73/100
176/176 [==============================] - 0s 2ms/step - loss: 0.3398 - accuracy: 0.8372
Epoch 74/100
176/176 [==============================] - 0s 2ms/step - loss: 0.3402 - accuracy: 0.8389
Epoch 75/100
176/176 [==============================] - 0s 2ms/step - loss: 0.3404 - accuracy: 0.8388
Epoch 76/100
176/176 [==============================] - 0s 1ms/step - loss: 0.3387 - accuracy: 0.8411
Epoch 77/100
176/176 [==============================] - 0s 1ms/step - loss: 0.3364 - accuracy: 0.8432
Epoch 78/100
176/176 [==============================] - 0s 1ms/step - loss: 0.3374 - accuracy: 0.8414
Epoch 79/100
176/176 [==============================] - 0s 1ms/step - loss: 0.3352 - accuracy: 0.8427
Epoch 80/100
176/176 [==============================] - 0s 2ms/step - loss: 0.3344 - accuracy: 0.8418
Epoch 81/100
176/176 [==============================] - 0s 2ms/step - loss: 0.3347 - accuracy: 0.8404
Epoch 82/100
176/176 [==============================] - 0s 1ms/step - loss: 0.3337 - accuracy: 0.8425
Epoch 83/100
176/176 [==============================] - 0s 1ms/step - loss: 0.3339 - accuracy: 0.8455
Epoch 84/100
176/176 [==============================] - 0s 1ms/step - loss: 0.3318 - accuracy: 0.8448
Epoch 85/100
176/176 [==============================] - 0s 2ms/step - loss: 0.3317 - accuracy: 0.8459
Epoch 86/100
176/176 [==============================] - 0s 1ms/step - loss: 0.3316 - accuracy: 0.8457
Epoch 87/100
176/176 [==============================] - 0s 1ms/step - loss: 0.3301 - accuracy: 0.8452
Epoch 88/100
176/176 [==============================] - 0s 1ms/step - loss: 0.3294 - accuracy: 0.8450
Epoch 89/100
176/176 [==============================] - 0s 2ms/step - loss: 0.3274 - accuracy: 0.8462
Epoch 90/100
176/176 [==============================] - 0s 1ms/step - loss: 0.3265 - accuracy: 0.8476
Epoch 91/100
176/176 [==============================] - 0s 1ms/step - loss: 0.3270 - accuracy: 0.8496
Epoch 92/100
176/176 [==============================] - 0s 2ms/step - loss: 0.3260 - accuracy: 0.8473
Epoch 93/100
176/176 [==============================] - 0s 2ms/step - loss: 0.3245 - accuracy: 0.8496
Epoch 94/100
176/176 [==============================] - 0s 2ms/step - loss: 0.3261 - accuracy: 0.8482
Epoch 95/100
176/176 [==============================] - 0s 1ms/step - loss: 0.3255 - accuracy: 0.8469
Epoch 96/100
176/176 [==============================] - 0s 2ms/step - loss: 0.3241 - accuracy: 0.8516
Epoch 97/100
176/176 [==============================] - 0s 2ms/step - loss: 0.3227 - accuracy: 0.8501
Epoch 98/100
176/176 [==============================] - 0s 1ms/step - loss: 0.3226 - accuracy: 0.8503
Epoch 99/100
176/176 [==============================] - 0s 2ms/step - loss: 0.3221 - accuracy: 0.8512
Epoch 100/100
176/176 [==============================] - 0s 2ms/step - loss: 0.3205 - accuracy: 0.8544

In [62]:
clf_nn.evaluate(X_test, y_test)

44/44 [==============================] - 0s 1ms/step - loss: 0.5469 - accuracy: 0.7584

[0.5469103455543518, 0.7583510875701904]

In [36]:
class Ensemble(object):
    
    def __init__(self, k, stacker, base_models):
        
        self.k = k # How many folds used in cross validation
        
        self.stacker = stacker # Final model used for stacking
        
        self.base_models = base_models # Base models in specific layers

    def fit_predict(self, X, y, pred_matrix):
        """
        This function calculates the meta features for each layer.
        """
        X = np.array(X) 
        
        y = np.array(y) 
        
        pred_matrix = np.array(pred_matrix)

        kf = KFold(n_splits=self.k, shuffle=True, random_state=0) # Split the train data into k folds

        S_train = np.zeros((X.shape[0], len(self.base_models)))
        
        S_test = np.zeros((pred_matrix.shape[0], len(self.base_models)))

        for i, clf in enumerate(self.base_models): # Iterate through the base models in a layer
            S_test_i = np.zeros((pred_matrix.shape[0], self.k))

            for j, (train_idx, test_idx) in enumerate(kf.split(X)):
                X_train = X[train_idx]
                y_train = y[train_idx]
                X_holdout = X[test_idx]
                
                clf.fit(X_train, y_train) # Fit the specific base model
                y_pred = clf.predict(X_holdout)[:]
                S_train[test_idx, i] = y_pred
                S_test_i[:, j] = clf.predict(pred_matrix)[:]

            S_test[:, i] = S_test_i.mean(1)
            
        self.stacker.fit(S_train, y)
        
        y_pred = self.stacker.predict(S_test)[:]
    
        return S_train, y_pred, S_test
    
    def layer_pred(self, num_layer, X_input, Y_input, base_models, models, pred_matrix, endmodel):
        """
        This function reads in the train and test data, iterates through the layers,
        and outputs the predictions.
        """
        # level 1:
        S_train, y_pred, S_test = self.fit_predict(X_input, Y_input, pred_matrix)
        # level num_layer:
        ##BEGIN iteration##
        for index in range(0,num_layer):
            
            self.base_models = models[index] 

            S_train, y_pred, S_test = self.fit_predict(S_train, Y_input, S_test)
            
        ##END iteration##
        
        endmodel.fit(S_train, Y_input)
        
        y_pred = endmodel.predict(S_test)[:]
        
        return y_pred

In [37]:
level1 = [neural_network.MLPRegressor(hidden_layer_sizes=(1000, 7)),ensemble.RandomForestRegressor(n_estimators=300, n_jobs=-1, max_features = 2), xgb.XGBRegressor(n_estimators=40, learning_rate=0.08, gamma=0, subsample=0.75,
                           colsample_bytree=1, max_depth=7)]
# Second level regressors
level2 = [xgb.XGBRegressor(), linear_model.LinearRegression()]

In [ ]:
fitter_three = Ensemble(5, xgb.XGBRegressor(), level1)
#y_stack1_fitter_three = fitter_three.layer_pred(1, x1, y1, level1, models, x2, xgb.XGBRegressor())

In [ ]:
# Write the predictions on the test set to a csv
#prediction = pd.DataFrame(y_stack1_fitter_three, columns=['redshift']).to_csv('submission.csv', index_label = 'id')

In [41]:
df_minmax_scaled.shape

(7032, 27)

In [40]:
X_test.shape

(1407, 26)

In [43]:
X_train.shape

(5625, 26)

In [45]:
y_test.shape

(1407,)

In [46]:
y_train.shape

(5625,)